<form [formGroup]="personForm" class="person-form">
  <div class="form-group">
    <label>First Name:</label>
    <input
      type="text"
      id="firstName"
      formControlName="firstName"
      required
    />
  </div>

  <div class="form-group">
    <label>Last Name:</label>
    <input
      type="text"
      id="lastName"
      formControlName="lastName"
      required
    />
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      required
    />
  </div>

  <div class="form-group">
    <label>Phone Number:</label>
    <input
      type="tel"
      id="phone"
      formControlName="phone"
      required="Preencha os dados"
    />
  </div>

  <button (click)="enviarFormulario()" [disabled]="!personForm.valid" class="submit-button">Submit</button>
</form>
